/*css reset*/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*CSS Variables*/
:root{
    --navbar-height: 59px;

    
}
/*navigatiobn bar*/
#navbar{
        display: flex;
        align-items: center;
        /*justify-content: center;*/
        position: sticky;
        top: 0px;
    }

    /*Nagivation bar: list styling*/
    
    #navbar ul{
        display: flex;
        font-family: 'Roboto', sans-serif;
    }
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        top: 0px;
        left: 0px;
        
    }
    

    #navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
    
    }
    #navbar ul li a{
        color: white;
        display: block;
        padding: 3px 22px;
        border-radius: 20px;
        text-decoration: none;
        
        }
        #navbar ul li a:hover{
            color:black;
            background-color: white;
            /*display: block;
            padding: 3px 22px;
            border-radius: 20px;
            text-decoration: none;*/
        }
    /*Navigation bar:logo and Image*/
    #logo{
        margin: 10px 35px;
        
        
        

    }
    #logo img{
        margin: 10px 35px;
        height: 80px;
        

    }

/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 320px;
    justify-content: center;
    align-items: center;
    
}
#home::before{
    content: "";
    background:  url('../fgh1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
    
    }
    #home h1{
        color:white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
      
    }
    #home p{
        color:white;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
      
    }
    /*services section*/
    #services{
        margin: 34px;
        display: flex;
              
    }
    #services .box{
        border: 2px solid brown;
        padding: 34px;
        margin: 3px 6px ;
        border-radius: 28px;
        background: rgb(223, 223, 223);
        
      


    }
    #services .box img{
        height: 140px;
        display: block;
        margin: auto;
        
        
    }
    #services.box p{
        text-align: center;
        font-family: 'Roboto', sans-serif;

    }
    #services{

    }
    #services{

    }
    #services{

    }


/*client Section*/
#client-section{
    position: relative;
    

}
#clients{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#clients img{
    height: 130px;
    
    
    
}
.client-item{
    padding: 34px;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 275px;
    z-index: -1;
    opacity: 0.9;
    
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/*contact section*/
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}


#contact{
    position: relative;
    height: 350px;
}
#contact::before{
    position:relative;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url('../contact1.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}


    /*utility class*/
    .h-primary{
        font-size: 2.8rem;
        padding: 10px;
        ;

    }
    .h-secondary{
        font-size: 1.6rem;
        padding: 12px;
    }
    .btn{
        padding: 6px 20px;
        border: 2px solid white;
        background-color: brown;
        color: white;
        margin: 17px;
        font-size: 1.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: grey;
    }
    .center{
        text-align: center;
    }